
.footer {
    margin-top: auto; /* sticky footer */
    background-color: #265847;
    padding-top: 71px;
    padding-bottom: 94px;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer-row {
    display: flex;
    justify-content: space-between;
  }
  .logo-footer {
    margin-bottom: 26px;
  }
  .footer-copyright {
    width: 270px;
  }
  .footer-copyright p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .footer-widget-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
  }
  .footer-widget:not(:last-child) {
    margin-right: 30px;
  }
  .footer-widget-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
  }
  
  .footer-widget-list {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .footer-widget-list:last-child {
    margin-bottom: 0;
  }
  .footer-widget-info {
    width: 170px;
  }
  
  .footer-widget-services,
  .footer-widget-contacts {
    width: 270px;
  }
  